n8n-workflows/campaign-crud-api.json
{
    "updatedAt": "2026-03-03T17:01:23.074Z",
    "createdAt": "2026-03-03T17:01:17.748Z",
    "id": "WnlOM2k32Ir0i6P9",
    "name": "Campaign CRUD API",
    "description": null,
    "active": true,
    "isArchived": false,
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "campaign-create",
                "responseMode": "responseNode",
                "options": {
                    "responseHeaders": {
                        "entries": [
                            {
                                "name": "Content-Type",
                                "value": "application/json"
                            }
                        ]
                    }
                }
            },
            "id": "wh-create",
            "name": "WH Create Campaign",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2.1,
            "position": [
                0,
                0
            ]
        },
        {
            "parameters": {
                "jsCode": "const body = $input.first().json.body;\nconst headers = $input.first().json.headers;\n\n// Auth check\nif (headers['x-webhook-secret'] !== 'REDACTED_WEBHOOK_SECRET') {\n  return [{ json: { error: 'Unauthorized', statusCode: 401 } }];\n}\n\nconst name = (body.name || '').trim();\nif (!name) {\n  return [{ json: { error: 'Name ist erforderlich', statusCode: 400 } }];\n}\n\nreturn [{ json: {\n  name: name.substring(0, 200),\n  description: (body.description || '').substring(0, 1000) || null,\n  status: 'draft',\n  start_date: body.start_date || null,\n  end_date: body.end_date || null,\n  calling_window_start: body.calling_window_start || '09:00',\n  calling_window_end: body.calling_window_end || '18:00',\n  calling_timezone: body.calling_timezone || 'Europe/Berlin',\n  calling_days: body.calling_days || [1,2,3,4,5],\n  cadence_config: body.cadence_config || { max_attempts: 5, intervals_minutes: [60,240,1440,4320,10080], voicemail_action: 'skip', leave_voicemail_after_attempt: 3 },\n  target_filter: body.target_filter || null,\n  system_prompt_override: body.system_prompt_override || null,\n  first_message_override: body.first_message_override || null,\n  statusCode: 0\n} }];"
            },
            "id": "code-validate-create",
            "name": "Validate Create",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                224,
                0
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "version": 2,
                        "leftValue": "",
                        "caseSensitive": true,
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "c1",
                            "leftValue": "={{ $json.statusCode }}",
                            "rightValue": 0,
                            "operator": {
                                "type": "number",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "id": "if-create-valid",
            "name": "Create Valid?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.2,
            "position": [
                448,
                0
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://ltarsnseyhtfbsxjrhdu.supabase.co/rest/v1/campaigns",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "REDACTED_SUPABASE_SERVICE_KEY"
                        },
                        {
                            "name": "Authorization",
                            "value": "Bearer REDACTED_SUPABASE_SERVICE_KEY"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        },
                        {
                            "name": "Prefer",
                            "value": "return=representation"
                        }
                    ]
                },
                "sendBody": true,
                "contentType": "raw",
                "rawContentType": "application/json",
                "body": "={{ JSON.stringify({ name: $json.name, description: $json.description, status: $json.status, start_date: $json.start_date, end_date: $json.end_date, calling_window_start: $json.calling_window_start, calling_window_end: $json.calling_window_end, calling_timezone: $json.calling_timezone, calling_days: $json.calling_days, cadence_config: $json.cadence_config, target_filter: $json.target_filter, system_prompt_override: $json.system_prompt_override, first_message_override: $json.first_message_override }) }}",
                "options": {}
            },
            "id": "http-create-campaign",
            "name": "Create Campaign in Supabase",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                672,
                -100
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ JSON.stringify($input.first().json) }}",
                "options": {
                    "responseCode": 201
                }
            },
            "id": "resp-create-ok",
            "name": "Respond Create OK",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                896,
                -100
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ JSON.stringify({ error: $json.error }) }}",
                "options": {
                    "responseCode": "={{ $json.statusCode || 400 }}"
                }
            },
            "id": "resp-create-err",
            "name": "Respond Create Error",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                672,
                100
            ]
        },
        {
            "parameters": {
                "httpMethod": "PATCH",
                "path": "campaign-update",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "wh-update",
            "name": "WH Update Campaign",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2.1,
            "position": [
                0,
                400
            ]
        },
        {
            "parameters": {
                "jsCode": "const body = $input.first().json.body;\nconst headers = $input.first().json.headers;\n\nif (headers['x-webhook-secret'] !== 'REDACTED_WEBHOOK_SECRET') {\n  return [{ json: { error: 'Unauthorized', statusCode: 401 } }];\n}\n\nconst id = (body.id || '').trim();\nif (!id) {\n  return [{ json: { error: 'Campaign ID ist erforderlich', statusCode: 400 } }];\n}\n\n// Build update object with only provided fields\nconst update = {};\nif (body.name !== undefined) update.name = String(body.name).substring(0, 200);\nif (body.description !== undefined) update.description = String(body.description).substring(0, 1000);\nif (body.start_date !== undefined) update.start_date = body.start_date;\nif (body.end_date !== undefined) update.end_date = body.end_date;\nif (body.calling_window_start !== undefined) update.calling_window_start = body.calling_window_start;\nif (body.calling_window_end !== undefined) update.calling_window_end = body.calling_window_end;\nif (body.calling_timezone !== undefined) update.calling_timezone = body.calling_timezone;\nif (body.calling_days !== undefined) update.calling_days = body.calling_days;\nif (body.cadence_config !== undefined) update.cadence_config = body.cadence_config;\nif (body.target_filter !== undefined) update.target_filter = body.target_filter;\nif (body.system_prompt_override !== undefined) update.system_prompt_override = body.system_prompt_override;\nif (body.first_message_override !== undefined) update.first_message_override = body.first_message_override;\n\nreturn [{ json: { id, update: JSON.stringify(update), statusCode: 0 } }];"
            },
            "id": "code-validate-update",
            "name": "Validate Update",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                224,
                400
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "version": 2,
                        "leftValue": "",
                        "caseSensitive": true,
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "c2",
                            "leftValue": "={{ $json.statusCode }}",
                            "rightValue": 0,
                            "operator": {
                                "type": "number",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "id": "if-update-valid",
            "name": "Update Valid?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.2,
            "position": [
                448,
                400
            ]
        },
        {
            "parameters": {
                "method": "PATCH",
                "url": "={{ 'https://ltarsnseyhtfbsxjrhdu.supabase.co/rest/v1/campaigns?id=eq.' + $json.id }}",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "REDACTED_SUPABASE_SERVICE_KEY"
                        },
                        {
                            "name": "Authorization",
                            "value": "Bearer REDACTED_SUPABASE_SERVICE_KEY"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        },
                        {
                            "name": "Prefer",
                            "value": "return=representation"
                        }
                    ]
                },
                "sendBody": true,
                "contentType": "raw",
                "rawContentType": "application/json",
                "body": "={{ $json.update }}",
                "options": {}
            },
            "id": "http-update-campaign",
            "name": "Update Campaign in Supabase",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                672,
                300
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ JSON.stringify($input.first().json) }}",
                "options": {
                    "responseCode": 200
                }
            },
            "id": "resp-update-ok",
            "name": "Respond Update OK",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                896,
                300
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ JSON.stringify({ error: $json.error }) }}",
                "options": {
                    "responseCode": "={{ $json.statusCode || 400 }}"
                }
            },
            "id": "resp-update-err",
            "name": "Respond Update Error",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                672,
                500
            ]
        },
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "campaign-pause",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "wh-pause",
            "name": "WH Pause Campaign",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2.1,
            "position": [
                0,
                800
            ]
        },
        {
            "parameters": {
                "jsCode": "const body = $input.first().json.body;\nconst headers = $input.first().json.headers;\n\nif (headers['x-webhook-secret'] !== 'REDACTED_WEBHOOK_SECRET') {\n  return [{ json: { error: 'Unauthorized', statusCode: 401 } }];\n}\n\nconst id = (body.id || '').trim();\nif (!id) {\n  return [{ json: { error: 'Campaign ID ist erforderlich', statusCode: 400 } }];\n}\n\nreturn [{ json: { id, statusCode: 0 } }];"
            },
            "id": "code-validate-pause",
            "name": "Validate Pause",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                224,
                800
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "version": 2,
                        "leftValue": "",
                        "caseSensitive": true,
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "c3",
                            "leftValue": "={{ $json.statusCode }}",
                            "rightValue": 0,
                            "operator": {
                                "type": "number",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "id": "if-pause-valid",
            "name": "Pause Valid?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.2,
            "position": [
                448,
                800
            ]
        },
        {
            "parameters": {
                "method": "PATCH",
                "url": "={{ 'https://ltarsnseyhtfbsxjrhdu.supabase.co/rest/v1/campaigns?id=eq.' + $json.id }}",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "REDACTED_SUPABASE_SERVICE_KEY"
                        },
                        {
                            "name": "Authorization",
                            "value": "Bearer REDACTED_SUPABASE_SERVICE_KEY"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        },
                        {
                            "name": "Prefer",
                            "value": "return=representation"
                        }
                    ]
                },
                "sendBody": true,
                "contentType": "raw",
                "rawContentType": "application/json",
                "body": "{\"status\": \"paused\"}",
                "options": {}
            },
            "id": "http-pause-campaign",
            "name": "Pause Campaign in Supabase",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                672,
                700
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ JSON.stringify({ success: true, status: 'paused' }) }}",
                "options": {
                    "responseCode": 200
                }
            },
            "id": "resp-pause-ok",
            "name": "Respond Pause OK",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                896,
                700
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ JSON.stringify({ error: $json.error }) }}",
                "options": {
                    "responseCode": "={{ $json.statusCode || 400 }}"
                }
            },
            "id": "resp-pause-err",
            "name": "Respond Pause Error",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                672,
                900
            ]
        },
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "campaign-activate",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "wh-activate",
            "name": "WH Activate Campaign",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2.1,
            "position": [
                0,
                1200
            ]
        },
        {
            "parameters": {
                "jsCode": "const body = $input.first().json.body;\nconst headers = $input.first().json.headers;\n\nif (headers['x-webhook-secret'] !== 'REDACTED_WEBHOOK_SECRET') {\n  return [{ json: { error: 'Unauthorized', statusCode: 401 } }];\n}\n\nconst id = (body.id || '').trim();\nif (!id) {\n  return [{ json: { error: 'Campaign ID ist erforderlich', statusCode: 400 } }];\n}\n\nreturn [{ json: { id, statusCode: 0 } }];"
            },
            "id": "code-validate-activate",
            "name": "Validate Activate",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                224,
                1200
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "version": 2,
                        "leftValue": "",
                        "caseSensitive": true,
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "c4",
                            "leftValue": "={{ $json.statusCode }}",
                            "rightValue": 0,
                            "operator": {
                                "type": "number",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "id": "if-activate-valid",
            "name": "Activate Valid?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.2,
            "position": [
                448,
                1200
            ]
        },
        {
            "parameters": {
                "method": "PATCH",
                "url": "={{ 'https://ltarsnseyhtfbsxjrhdu.supabase.co/rest/v1/campaigns?id=eq.' + $json.id }}",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "REDACTED_SUPABASE_SERVICE_KEY"
                        },
                        {
                            "name": "Authorization",
                            "value": "Bearer REDACTED_SUPABASE_SERVICE_KEY"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        },
                        {
                            "name": "Prefer",
                            "value": "return=representation"
                        }
                    ]
                },
                "sendBody": true,
                "contentType": "raw",
                "rawContentType": "application/json",
                "body": "{\"status\": \"active\"}",
                "options": {}
            },
            "id": "http-activate-campaign",
            "name": "Activate Campaign in Supabase",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                672,
                1100
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ JSON.stringify({ success: true, status: 'active' }) }}",
                "options": {
                    "responseCode": 200
                }
            },
            "id": "resp-activate-ok",
            "name": "Respond Activate OK",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                896,
                1100
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ JSON.stringify({ error: $json.error }) }}",
                "options": {
                    "responseCode": "={{ $json.statusCode || 400 }}"
                }
            },
            "id": "resp-activate-err",
            "name": "Respond Activate Error",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                672,
                1300
            ]
        },
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "campaign-add-leads",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "wh-add-leads",
            "name": "WH Add Leads to Campaign",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2.1,
            "position": [
                0,
                1600
            ]
        },
        {
            "parameters": {
                "jsCode": "const body = $input.first().json.body;\nconst headers = $input.first().json.headers;\n\nif (headers['x-webhook-secret'] !== 'REDACTED_WEBHOOK_SECRET') {\n  return [{ json: { error: 'Unauthorized', statusCode: 401 } }];\n}\n\nconst campaignId = (body.campaign_id || '').trim();\nconst leadIds = body.lead_ids;\n\nif (!campaignId) {\n  return [{ json: { error: 'campaign_id ist erforderlich', statusCode: 400 } }];\n}\n\nif (!Array.isArray(leadIds) || leadIds.length === 0) {\n  return [{ json: { error: 'lead_ids Array ist erforderlich', statusCode: 400 } }];\n}\n\nif (leadIds.length > 500) {\n  return [{ json: { error: 'Maximal 500 Leads pro Request', statusCode: 400 } }];\n}\n\nreturn [{ json: { campaignId, leadIds, statusCode: 0 } }];"
            },
            "id": "code-validate-add-leads",
            "name": "Validate Add Leads",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                224,
                1600
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "version": 2,
                        "leftValue": "",
                        "caseSensitive": true,
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "c5",
                            "leftValue": "={{ $json.statusCode }}",
                            "rightValue": 0,
                            "operator": {
                                "type": "number",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "id": "if-add-leads-valid",
            "name": "Add Leads Valid?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.2,
            "position": [
                448,
                1600
            ]
        },
        {
            "parameters": {
                "jsCode": "// Build batch update: set campaign_id for all leads\nconst data = $input.first().json;\nconst leadIds = data.leadIds;\nconst campaignId = data.campaignId;\n\n// Emit individual items for each lead\nreturn leadIds.map(id => ({ json: { leadId: id, campaignId } }));"
            },
            "id": "code-split-leads",
            "name": "Split Lead IDs",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                672,
                1500
            ]
        },
        {
            "parameters": {
                "method": "PATCH",
                "url": "={{ 'https://ltarsnseyhtfbsxjrhdu.supabase.co/rest/v1/leads?id=eq.' + $json.leadId }}",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "REDACTED_SUPABASE_SERVICE_KEY"
                        },
                        {
                            "name": "Authorization",
                            "value": "Bearer REDACTED_SUPABASE_SERVICE_KEY"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        },
                        {
                            "name": "Prefer",
                            "value": "return=minimal"
                        }
                    ]
                },
                "sendBody": true,
                "contentType": "raw",
                "rawContentType": "application/json",
                "body": "={{ JSON.stringify({ campaign_id: $json.campaignId, status: 'new', call_direction: 'outbound' }) }}",
                "options": {}
            },
            "id": "http-assign-lead",
            "name": "Assign Lead to Campaign",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                896,
                1500
            ],
            "continueOnFail": true
        },
        {
            "parameters": {
                "jsCode": "// Count successful assignments\nconst items = $input.all();\nconst successCount = items.filter(i => !i.json.error && !i.json.statusCode).length;\nconst totalLeads = $('Split Lead IDs').all().length;\nconst campaignId = $('Add Leads Valid?').first().json.campaignId;\n\nreturn [{ json: { \n  success: true, \n  assigned: successCount, \n  total: totalLeads, \n  campaign_id: campaignId \n} }];"
            },
            "id": "code-count-assigned",
            "name": "Count Assigned",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1120,
                1500
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ JSON.stringify($json) }}",
                "options": {
                    "responseCode": 200
                }
            },
            "id": "resp-add-leads-ok",
            "name": "Respond Add Leads OK",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                1344,
                1500
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ JSON.stringify({ error: $json.error }) }}",
                "options": {
                    "responseCode": "={{ $json.statusCode || 400 }}"
                }
            },
            "id": "resp-add-leads-err",
            "name": "Respond Add Leads Error",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                672,
                1700
            ]
        }
    ],
    "connections": {
        "WH Create Campaign": {
            "main": [
                [
                    {
                        "node": "Validate Create",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Validate Create": {
            "main": [
                [
                    {
                        "node": "Create Valid?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Create Valid?": {
            "main": [
                [
                    {
                        "node": "Create Campaign in Supabase",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Respond Create Error",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Create Campaign in Supabase": {
            "main": [
                [
                    {
                        "node": "Respond Create OK",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "WH Update Campaign": {
            "main": [
                [
                    {
                        "node": "Validate Update",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Validate Update": {
            "main": [
                [
                    {
                        "node": "Update Valid?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Update Valid?": {
            "main": [
                [
                    {
                        "node": "Update Campaign in Supabase",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Respond Update Error",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Update Campaign in Supabase": {
            "main": [
                [
                    {
                        "node": "Respond Update OK",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "WH Pause Campaign": {
            "main": [
                [
                    {
                        "node": "Validate Pause",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Validate Pause": {
            "main": [
                [
                    {
                        "node": "Pause Valid?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Pause Valid?": {
            "main": [
                [
                    {
                        "node": "Pause Campaign in Supabase",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Respond Pause Error",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Pause Campaign in Supabase": {
            "main": [
                [
                    {
                        "node": "Respond Pause OK",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "WH Activate Campaign": {
            "main": [
                [
                    {
                        "node": "Validate Activate",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Validate Activate": {
            "main": [
                [
                    {
                        "node": "Activate Valid?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Activate Valid?": {
            "main": [
                [
                    {
                        "node": "Activate Campaign in Supabase",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Respond Activate Error",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Activate Campaign in Supabase": {
            "main": [
                [
                    {
                        "node": "Respond Activate OK",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "WH Add Leads to Campaign": {
            "main": [
                [
                    {
                        "node": "Validate Add Leads",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Validate Add Leads": {
            "main": [
                [
                    {
                        "node": "Add Leads Valid?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Add Leads Valid?": {
            "main": [
                [
                    {
                        "node": "Split Lead IDs",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Respond Add Leads Error",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Split Lead IDs": {
            "main": [
                [
                    {
                        "node": "Assign Lead to Campaign",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Assign Lead to Campaign": {
            "main": [
                [
                    {
                        "node": "Count Assigned",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Count Assigned": {
            "main": [
                [
                    {
                        "node": "Respond Add Leads OK",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1",
        "callerPolicy": "workflowsFromSameOwner",
        "availableInMCP": false
    },
    "staticData": null,
    "meta": null,
    "pinData": null,
    "versionId": "b5a980d9-5b26-4810-b357-ee7f08bf72c2",
    "activeVersionId": "b5a980d9-5b26-4810-b357-ee7f08bf72c2",
    "versionCounter": 4,
    "triggerCount": 5,
    "shared": [
        {
            "updatedAt": "2026-03-03T17:01:17.750Z",
            "createdAt": "2026-03-03T17:01:17.750Z",
            "role": "workflow:owner",
            "workflowId": "WnlOM2k32Ir0i6P9",
            "projectId": "Hb8MCr6jApuP43D1",
            "project": {
                "updatedAt": "2025-12-01T16:24:24.630Z",
                "createdAt": "2025-12-01T16:17:56.703Z",
                "id": "Hb8MCr6jApuP43D1",
                "name": "Fynn Loosen <fynn.loosen@outlook.de>",
                "type": "personal",
                "icon": null,
                "description": null,
                "creatorId": "495728b9-b3cb-456c-9843-b80be60568f8"
            }
        }
    ],
    "tags": [],
    "activeVersion": {
        "updatedAt": "2026-03-03T17:01:23.076Z",
        "createdAt": "2026-03-03T17:01:23.076Z",
        "versionId": "b5a980d9-5b26-4810-b357-ee7f08bf72c2",
        "workflowId": "WnlOM2k32Ir0i6P9",
        "nodes": [
            {
                "parameters": {
                    "httpMethod": "POST",
                    "path": "campaign-create",
                    "responseMode": "responseNode",
                    "options": {
                        "responseHeaders": {
                            "entries": [
                                {
                                    "name": "Content-Type",
                                    "value": "application/json"
                                }
                            ]
                        }
                    }
                },
                "id": "wh-create",
                "name": "WH Create Campaign",
                "type": "n8n-nodes-base.webhook",
                "typeVersion": 2.1,
                "position": [
                    0,
                    0
                ]
            },
            {
                "parameters": {
                    "jsCode": "const body = $input.first().json.body;\nconst headers = $input.first().json.headers;\n\n// Auth check\nif (headers['x-webhook-secret'] !== 'REDACTED_WEBHOOK_SECRET') {\n  return [{ json: { error: 'Unauthorized', statusCode: 401 } }];\n}\n\nconst name = (body.name || '').trim();\nif (!name) {\n  return [{ json: { error: 'Name ist erforderlich', statusCode: 400 } }];\n}\n\nreturn [{ json: {\n  name: name.substring(0, 200),\n  description: (body.description || '').substring(0, 1000) || null,\n  status: 'draft',\n  start_date: body.start_date || null,\n  end_date: body.end_date || null,\n  calling_window_start: body.calling_window_start || '09:00',\n  calling_window_end: body.calling_window_end || '18:00',\n  calling_timezone: body.calling_timezone || 'Europe/Berlin',\n  calling_days: body.calling_days || [1,2,3,4,5],\n  cadence_config: body.cadence_config || { max_attempts: 5, intervals_minutes: [60,240,1440,4320,10080], voicemail_action: 'skip', leave_voicemail_after_attempt: 3 },\n  target_filter: body.target_filter || null,\n  system_prompt_override: body.system_prompt_override || null,\n  first_message_override: body.first_message_override || null,\n  statusCode: 0\n} }];"
                },
                "id": "code-validate-create",
                "name": "Validate Create",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    224,
                    0
                ]
            },
            {
                "parameters": {
                    "conditions": {
                        "options": {
                            "version": 2,
                            "leftValue": "",
                            "caseSensitive": true,
                            "typeValidation": "strict"
                        },
                        "conditions": [
                            {
                                "id": "c1",
                                "leftValue": "={{ $json.statusCode }}",
                                "rightValue": 0,
                                "operator": {
                                    "type": "number",
                                    "operation": "equals"
                                }
                            }
                        ],
                        "combinator": "and"
                    },
                    "options": {}
                },
                "id": "if-create-valid",
                "name": "Create Valid?",
                "type": "n8n-nodes-base.if",
                "typeVersion": 2.2,
                "position": [
                    448,
                    0
                ]
            },
            {
                "parameters": {
                    "method": "POST",
                    "url": "https://ltarsnseyhtfbsxjrhdu.supabase.co/rest/v1/campaigns",
                    "sendHeaders": true,
                    "headerParameters": {
                        "parameters": [
                            {
                                "name": "apikey",
                                "value": "REDACTED_SUPABASE_SERVICE_KEY"
                            },
                            {
                                "name": "Authorization",
                                "value": "Bearer REDACTED_SUPABASE_SERVICE_KEY"
                            },
                            {
                                "name": "Content-Type",
                                "value": "application/json"
                            },
                            {
                                "name": "Prefer",
                                "value": "return=representation"
                            }
                        ]
                    },
                    "sendBody": true,
                    "contentType": "raw",
                    "rawContentType": "application/json",
                    "body": "={{ JSON.stringify({ name: $json.name, description: $json.description, status: $json.status, start_date: $json.start_date, end_date: $json.end_date, calling_window_start: $json.calling_window_start, calling_window_end: $json.calling_window_end, calling_timezone: $json.calling_timezone, calling_days: $json.calling_days, cadence_config: $json.cadence_config, target_filter: $json.target_filter, system_prompt_override: $json.system_prompt_override, first_message_override: $json.first_message_override }) }}",
                    "options": {}
                },
                "id": "http-create-campaign",
                "name": "Create Campaign in Supabase",
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4.2,
                "position": [
                    672,
                    -100
                ]
            },
            {
                "parameters": {
                    "respondWith": "json",
                    "responseBody": "={{ JSON.stringify($input.first().json) }}",
                    "options": {
                        "responseCode": 201
                    }
                },
                "id": "resp-create-ok",
                "name": "Respond Create OK",
                "type": "n8n-nodes-base.respondToWebhook",
                "typeVersion": 1.1,
                "position": [
                    896,
                    -100
                ]
            },
            {
                "parameters": {
                    "respondWith": "json",
                    "responseBody": "={{ JSON.stringify({ error: $json.error }) }}",
                    "options": {
                        "responseCode": "={{ $json.statusCode || 400 }}"
                    }
                },
                "id": "resp-create-err",
                "name": "Respond Create Error",
                "type": "n8n-nodes-base.respondToWebhook",
                "typeVersion": 1.1,
                "position": [
                    672,
                    100
                ]
            },
            {
                "parameters": {
                    "httpMethod": "PATCH",
                    "path": "campaign-update",
                    "responseMode": "responseNode",
                    "options": {}
                },
                "id": "wh-update",
                "name": "WH Update Campaign",
                "type": "n8n-nodes-base.webhook",
                "typeVersion": 2.1,
                "position": [
                    0,
                    400
                ]
            },
            {
                "parameters": {
                    "jsCode": "const body = $input.first().json.body;\nconst headers = $input.first().json.headers;\n\nif (headers['x-webhook-secret'] !== 'REDACTED_WEBHOOK_SECRET') {\n  return [{ json: { error: 'Unauthorized', statusCode: 401 } }];\n}\n\nconst id = (body.id || '').trim();\nif (!id) {\n  return [{ json: { error: 'Campaign ID ist erforderlich', statusCode: 400 } }];\n}\n\n// Build update object with only provided fields\nconst update = {};\nif (body.name !== undefined) update.name = String(body.name).substring(0, 200);\nif (body.description !== undefined) update.description = String(body.description).substring(0, 1000);\nif (body.start_date !== undefined) update.start_date = body.start_date;\nif (body.end_date !== undefined) update.end_date = body.end_date;\nif (body.calling_window_start !== undefined) update.calling_window_start = body.calling_window_start;\nif (body.calling_window_end !== undefined) update.calling_window_end = body.calling_window_end;\nif (body.calling_timezone !== undefined) update.calling_timezone = body.calling_timezone;\nif (body.calling_days !== undefined) update.calling_days = body.calling_days;\nif (body.cadence_config !== undefined) update.cadence_config = body.cadence_config;\nif (body.target_filter !== undefined) update.target_filter = body.target_filter;\nif (body.system_prompt_override !== undefined) update.system_prompt_override = body.system_prompt_override;\nif (body.first_message_override !== undefined) update.first_message_override = body.first_message_override;\n\nreturn [{ json: { id, update: JSON.stringify(update), statusCode: 0 } }];"
                },
                "id": "code-validate-update",
                "name": "Validate Update",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    224,
                    400
                ]
            },
            {
                "parameters": {
                    "conditions": {
                        "options": {
                            "version": 2,
                            "leftValue": "",
                            "caseSensitive": true,
                            "typeValidation": "strict"
                        },
                        "conditions": [
                            {
                                "id": "c2",
                                "leftValue": "={{ $json.statusCode }}",
                                "rightValue": 0,
                                "operator": {
                                    "type": "number",
                                    "operation": "equals"
                                }
                            }
                        ],
                        "combinator": "and"
                    },
                    "options": {}
                },
                "id": "if-update-valid",
                "name": "Update Valid?",
                "type": "n8n-nodes-base.if",
                "typeVersion": 2.2,
                "position": [
                    448,
                    400
                ]
            },
            {
                "parameters": {
                    "method": "PATCH",
                    "url": "={{ 'https://ltarsnseyhtfbsxjrhdu.supabase.co/rest/v1/campaigns?id=eq.' + $json.id }}",
                    "sendHeaders": true,
                    "headerParameters": {
                        "parameters": [
                            {
                                "name": "apikey",
                                "value": "REDACTED_SUPABASE_SERVICE_KEY"
                            },
                            {
                                "name": "Authorization",
                                "value": "Bearer REDACTED_SUPABASE_SERVICE_KEY"
                            },
                            {
                                "name": "Content-Type",
                                "value": "application/json"
                            },
                            {
                                "name": "Prefer",
                                "value": "return=representation"
                            }
                        ]
                    },
                    "sendBody": true,
                    "contentType": "raw",
                    "rawContentType": "application/json",
                    "body": "={{ $json.update }}",
                    "options": {}
                },
                "id": "http-update-campaign",
                "name": "Update Campaign in Supabase",
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4.2,
                "position": [
                    672,
                    300
                ]
            },
            {
                "parameters": {
                    "respondWith": "json",
                    "responseBody": "={{ JSON.stringify($input.first().json) }}",
                    "options": {
                        "responseCode": 200
                    }
                },
                "id": "resp-update-ok",
                "name": "Respond Update OK",
                "type": "n8n-nodes-base.respondToWebhook",
                "typeVersion": 1.1,
                "position": [
                    896,
                    300
                ]
            },
            {
                "parameters": {
                    "respondWith": "json",
                    "responseBody": "={{ JSON.stringify({ error: $json.error }) }}",
                    "options": {
                        "responseCode": "={{ $json.statusCode || 400 }}"
                    }
                },
                "id": "resp-update-err",
                "name": "Respond Update Error",
                "type": "n8n-nodes-base.respondToWebhook",
                "typeVersion": 1.1,
                "position": [
                    672,
                    500
                ]
            },
            {
                "parameters": {
                    "httpMethod": "POST",
                    "path": "campaign-pause",
                    "responseMode": "responseNode",
                    "options": {}
                },
                "id": "wh-pause",
                "name": "WH Pause Campaign",
                "type": "n8n-nodes-base.webhook",
                "typeVersion": 2.1,
                "position": [
                    0,
                    800
                ]
            },
            {
                "parameters": {
                    "jsCode": "const body = $input.first().json.body;\nconst headers = $input.first().json.headers;\n\nif (headers['x-webhook-secret'] !== 'REDACTED_WEBHOOK_SECRET') {\n  return [{ json: { error: 'Unauthorized', statusCode: 401 } }];\n}\n\nconst id = (body.id || '').trim();\nif (!id) {\n  return [{ json: { error: 'Campaign ID ist erforderlich', statusCode: 400 } }];\n}\n\nreturn [{ json: { id, statusCode: 0 } }];"
                },
                "id": "code-validate-pause",
                "name": "Validate Pause",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    224,
                    800
                ]
            },
            {
                "parameters": {
                    "conditions": {
                        "options": {
                            "version": 2,
                            "leftValue": "",
                            "caseSensitive": true,
                            "typeValidation": "strict"
                        },
                        "conditions": [
                            {
                                "id": "c3",
                                "leftValue": "={{ $json.statusCode }}",
                                "rightValue": 0,
                                "operator": {
                                    "type": "number",
                                    "operation": "equals"
                                }
                            }
                        ],
                        "combinator": "and"
                    },
                    "options": {}
                },
                "id": "if-pause-valid",
                "name": "Pause Valid?",
                "type": "n8n-nodes-base.if",
                "typeVersion": 2.2,
                "position": [
                    448,
                    800
                ]
            },
            {
                "parameters": {
                    "method": "PATCH",
                    "url": "={{ 'https://ltarsnseyhtfbsxjrhdu.supabase.co/rest/v1/campaigns?id=eq.' + $json.id }}",
                    "sendHeaders": true,
                    "headerParameters": {
                        "parameters": [
                            {
                                "name": "apikey",
                                "value": "REDACTED_SUPABASE_SERVICE_KEY"
                            },
                            {
                                "name": "Authorization",
                                "value": "Bearer REDACTED_SUPABASE_SERVICE_KEY"
                            },
                            {
                                "name": "Content-Type",
                                "value": "application/json"
                            },
                            {
                                "name": "Prefer",
                                "value": "return=representation"
                            }
                        ]
                    },
                    "sendBody": true,
                    "contentType": "raw",
                    "rawContentType": "application/json",
                    "body": "{\"status\": \"paused\"}",
                    "options": {}
                },
                "id": "http-pause-campaign",
                "name": "Pause Campaign in Supabase",
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4.2,
                "position": [
                    672,
                    700
                ]
            },
            {
                "parameters": {
                    "respondWith": "json",
                    "responseBody": "={{ JSON.stringify({ success: true, status: 'paused' }) }}",
                    "options": {
                        "responseCode": 200
                    }
                },
                "id": "resp-pause-ok",
                "name": "Respond Pause OK",
                "type": "n8n-nodes-base.respondToWebhook",
                "typeVersion": 1.1,
                "position": [
                    896,
                    700
                ]
            },
            {
                "parameters": {
                    "respondWith": "json",
                    "responseBody": "={{ JSON.stringify({ error: $json.error }) }}",
                    "options": {
                        "responseCode": "={{ $json.statusCode || 400 }}"
                    }
                },
                "id": "resp-pause-err",
                "name": "Respond Pause Error",
                "type": "n8n-nodes-base.respondToWebhook",
                "typeVersion": 1.1,
                "position": [
                    672,
                    900
                ]
            },
            {
                "parameters": {
                    "httpMethod": "POST",
                    "path": "campaign-activate",
                    "responseMode": "responseNode",
                    "options": {}
                },
                "id": "wh-activate",
                "name": "WH Activate Campaign",
                "type": "n8n-nodes-base.webhook",
                "typeVersion": 2.1,
                "position": [
                    0,
                    1200
                ]
            },
            {
                "parameters": {
                    "jsCode": "const body = $input.first().json.body;\nconst headers = $input.first().json.headers;\n\nif (headers['x-webhook-secret'] !== 'REDACTED_WEBHOOK_SECRET') {\n  return [{ json: { error: 'Unauthorized', statusCode: 401 } }];\n}\n\nconst id = (body.id || '').trim();\nif (!id) {\n  return [{ json: { error: 'Campaign ID ist erforderlich', statusCode: 400 } }];\n}\n\nreturn [{ json: { id, statusCode: 0 } }];"
                },
                "id": "code-validate-activate",
                "name": "Validate Activate",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    224,
                    1200
                ]
            },
            {
                "parameters": {
                    "conditions": {
                        "options": {
                            "version": 2,
                            "leftValue": "",
                            "caseSensitive": true,
                            "typeValidation": "strict"
                        },
                        "conditions": [
                            {
                                "id": "c4",
                                "leftValue": "={{ $json.statusCode }}",
                                "rightValue": 0,
                                "operator": {
                                    "type": "number",
                                    "operation": "equals"
                                }
                            }
                        ],
                        "combinator": "and"
                    },
                    "options": {}
                },
                "id": "if-activate-valid",
                "name": "Activate Valid?",
                "type": "n8n-nodes-base.if",
                "typeVersion": 2.2,
                "position": [
                    448,
                    1200
                ]
            },
            {
                "parameters": {
                    "method": "PATCH",
                    "url": "={{ 'https://ltarsnseyhtfbsxjrhdu.supabase.co/rest/v1/campaigns?id=eq.' + $json.id }}",
                    "sendHeaders": true,
                    "headerParameters": {
                        "parameters": [
                            {
                                "name": "apikey",
                                "value": "REDACTED_SUPABASE_SERVICE_KEY"
                            },
                            {
                                "name": "Authorization",
                                "value": "Bearer REDACTED_SUPABASE_SERVICE_KEY"
                            },
                            {
                                "name": "Content-Type",
                                "value": "application/json"
                            },
                            {
                                "name": "Prefer",
                                "value": "return=representation"
                            }
                        ]
                    },
                    "sendBody": true,
                    "contentType": "raw",
                    "rawContentType": "application/json",
                    "body": "{\"status\": \"active\"}",
                    "options": {}
                },
                "id": "http-activate-campaign",
                "name": "Activate Campaign in Supabase",
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4.2,
                "position": [
                    672,
                    1100
                ]
            },
            {
                "parameters": {
                    "respondWith": "json",
                    "responseBody": "={{ JSON.stringify({ success: true, status: 'active' }) }}",
                    "options": {
                        "responseCode": 200
                    }
                },
                "id": "resp-activate-ok",
                "name": "Respond Activate OK",
                "type": "n8n-nodes-base.respondToWebhook",
                "typeVersion": 1.1,
                "position": [
                    896,
                    1100
                ]
            },
            {
                "parameters": {
                    "respondWith": "json",
                    "responseBody": "={{ JSON.stringify({ error: $json.error }) }}",
                    "options": {
                        "responseCode": "={{ $json.statusCode || 400 }}"
                    }
                },
                "id": "resp-activate-err",
                "name": "Respond Activate Error",
                "type": "n8n-nodes-base.respondToWebhook",
                "typeVersion": 1.1,
                "position": [
                    672,
                    1300
                ]
            },
            {
                "parameters": {
                    "httpMethod": "POST",
                    "path": "campaign-add-leads",
                    "responseMode": "responseNode",
                    "options": {}
                },
                "id": "wh-add-leads",
                "name": "WH Add Leads to Campaign",
                "type": "n8n-nodes-base.webhook",
                "typeVersion": 2.1,
                "position": [
                    0,
                    1600
                ]
            },
            {
                "parameters": {
                    "jsCode": "const body = $input.first().json.body;\nconst headers = $input.first().json.headers;\n\nif (headers['x-webhook-secret'] !== 'REDACTED_WEBHOOK_SECRET') {\n  return [{ json: { error: 'Unauthorized', statusCode: 401 } }];\n}\n\nconst campaignId = (body.campaign_id || '').trim();\nconst leadIds = body.lead_ids;\n\nif (!campaignId) {\n  return [{ json: { error: 'campaign_id ist erforderlich', statusCode: 400 } }];\n}\n\nif (!Array.isArray(leadIds) || leadIds.length === 0) {\n  return [{ json: { error: 'lead_ids Array ist erforderlich', statusCode: 400 } }];\n}\n\nif (leadIds.length > 500) {\n  return [{ json: { error: 'Maximal 500 Leads pro Request', statusCode: 400 } }];\n}\n\nreturn [{ json: { campaignId, leadIds, statusCode: 0 } }];"
                },
                "id": "code-validate-add-leads",
                "name": "Validate Add Leads",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    224,
                    1600
                ]
            },
            {
                "parameters": {
                    "conditions": {
                        "options": {
                            "version": 2,
                            "leftValue": "",
                            "caseSensitive": true,
                            "typeValidation": "strict"
                        },
                        "conditions": [
                            {
                                "id": "c5",
                                "leftValue": "={{ $json.statusCode }}",
                                "rightValue": 0,
                                "operator": {
                                    "type": "number",
                                    "operation": "equals"
                                }
                            }
                        ],
                        "combinator": "and"
                    },
                    "options": {}
                },
                "id": "if-add-leads-valid",
                "name": "Add Leads Valid?",
                "type": "n8n-nodes-base.if",
                "typeVersion": 2.2,
                "position": [
                    448,
                    1600
                ]
            },
            {
                "parameters": {
                    "jsCode": "// Build batch update: set campaign_id for all leads\nconst data = $input.first().json;\nconst leadIds = data.leadIds;\nconst campaignId = data.campaignId;\n\n// Emit individual items for each lead\nreturn leadIds.map(id => ({ json: { leadId: id, campaignId } }));"
                },
                "id": "code-split-leads",
                "name": "Split Lead IDs",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    672,
                    1500
                ]
            },
            {
                "parameters": {
                    "method": "PATCH",
                    "url": "={{ 'https://ltarsnseyhtfbsxjrhdu.supabase.co/rest/v1/leads?id=eq.' + $json.leadId }}",
                    "sendHeaders": true,
                    "headerParameters": {
                        "parameters": [
                            {
                                "name": "apikey",
                                "value": "REDACTED_SUPABASE_SERVICE_KEY"
                            },
                            {
                                "name": "Authorization",
                                "value": "Bearer REDACTED_SUPABASE_SERVICE_KEY"
                            },
                            {
                                "name": "Content-Type",
                                "value": "application/json"
                            },
                            {
                                "name": "Prefer",
                                "value": "return=minimal"
                            }
                        ]
                    },
                    "sendBody": true,
                    "contentType": "raw",
                    "rawContentType": "application/json",
                    "body": "={{ JSON.stringify({ campaign_id: $json.campaignId, status: 'new', call_direction: 'outbound' }) }}",
                    "options": {}
                },
                "id": "http-assign-lead",
                "name": "Assign Lead to Campaign",
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4.2,
                "position": [
                    896,
                    1500
                ],
                "continueOnFail": true
            },
            {
                "parameters": {
                    "jsCode": "// Count successful assignments\nconst items = $input.all();\nconst successCount = items.filter(i => !i.json.error && !i.json.statusCode).length;\nconst totalLeads = $('Split Lead IDs').all().length;\nconst campaignId = $('Add Leads Valid?').first().json.campaignId;\n\nreturn [{ json: { \n  success: true, \n  assigned: successCount, \n  total: totalLeads, \n  campaign_id: campaignId \n} }];"
                },
                "id": "code-count-assigned",
                "name": "Count Assigned",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    1120,
                    1500
                ]
            },
            {
                "parameters": {
                    "respondWith": "json",
                    "responseBody": "={{ JSON.stringify($json) }}",
                    "options": {
                        "responseCode": 200
                    }
                },
                "id": "resp-add-leads-ok",
                "name": "Respond Add Leads OK",
                "type": "n8n-nodes-base.respondToWebhook",
                "typeVersion": 1.1,
                "position": [
                    1344,
                    1500
                ]
            },
            {
                "parameters": {
                    "respondWith": "json",
                    "responseBody": "={{ JSON.stringify({ error: $json.error }) }}",
                    "options": {
                        "responseCode": "={{ $json.statusCode || 400 }}"
                    }
                },
                "id": "resp-add-leads-err",
                "name": "Respond Add Leads Error",
                "type": "n8n-nodes-base.respondToWebhook",
                "typeVersion": 1.1,
                "position": [
                    672,
                    1700
                ]
            }
        ],
        "connections": {
            "WH Create Campaign": {
                "main": [
                    [
                        {
                            "node": "Validate Create",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Validate Create": {
                "main": [
                    [
                        {
                            "node": "Create Valid?",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Create Valid?": {
                "main": [
                    [
                        {
                            "node": "Create Campaign in Supabase",
                            "type": "main",
                            "index": 0
                        }
                    ],
                    [
                        {
                            "node": "Respond Create Error",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Create Campaign in Supabase": {
                "main": [
                    [
                        {
                            "node": "Respond Create OK",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "WH Update Campaign": {
                "main": [
                    [
                        {
                            "node": "Validate Update",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Validate Update": {
                "main": [
                    [
                        {
                            "node": "Update Valid?",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Update Valid?": {
                "main": [
                    [
                        {
                            "node": "Update Campaign in Supabase",
                            "type": "main",
                            "index": 0
                        }
                    ],
                    [
                        {
                            "node": "Respond Update Error",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Update Campaign in Supabase": {
                "main": [
                    [
                        {
                            "node": "Respond Update OK",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "WH Pause Campaign": {
                "main": [
                    [
                        {
                            "node": "Validate Pause",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Validate Pause": {
                "main": [
                    [
                        {
                            "node": "Pause Valid?",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Pause Valid?": {
                "main": [
                    [
                        {
                            "node": "Pause Campaign in Supabase",
                            "type": "main",
                            "index": 0
                        }
                    ],
                    [
                        {
                            "node": "Respond Pause Error",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Pause Campaign in Supabase": {
                "main": [
                    [
                        {
                            "node": "Respond Pause OK",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "WH Activate Campaign": {
                "main": [
                    [
                        {
                            "node": "Validate Activate",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Validate Activate": {
                "main": [
                    [
                        {
                            "node": "Activate Valid?",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Activate Valid?": {
                "main": [
                    [
                        {
                            "node": "Activate Campaign in Supabase",
                            "type": "main",
                            "index": 0
                        }
                    ],
                    [
                        {
                            "node": "Respond Activate Error",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Activate Campaign in Supabase": {
                "main": [
                    [
                        {
                            "node": "Respond Activate OK",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "WH Add Leads to Campaign": {
                "main": [
                    [
                        {
                            "node": "Validate Add Leads",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Validate Add Leads": {
                "main": [
                    [
                        {
                            "node": "Add Leads Valid?",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Add Leads Valid?": {
                "main": [
                    [
                        {
                            "node": "Split Lead IDs",
                            "type": "main",
                            "index": 0
                        }
                    ],
                    [
                        {
                            "node": "Respond Add Leads Error",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Split Lead IDs": {
                "main": [
                    [
                        {
                            "node": "Assign Lead to Campaign",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Assign Lead to Campaign": {
                "main": [
                    [
                        {
                            "node": "Count Assigned",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Count Assigned": {
                "main": [
                    [
                        {
                            "node": "Respond Add Leads OK",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            }
        },
        "authors": "Fynn Loosen",
        "name": null,
        "description": null,
        "autosaved": false,
        "workflowPublishHistory": [
            {
                "createdAt": "2026-03-03T17:01:23.183Z",
                "id": 474,
                "workflowId": "WnlOM2k32Ir0i6P9",
                "versionId": "b5a980d9-5b26-4810-b357-ee7f08bf72c2",
                "event": "activated",
                "userId": "495728b9-b3cb-456c-9843-b80be60568f8"
            }
        ]
    }
}
