n8n-workflows/post-call-processing.json
{
  "updatedAt": "2026-03-01T15:26:46.331Z",
  "createdAt": "2026-02-28T19:00:03.237Z",
  "id": "DBgYdLeCL75VL8S6",
  "name": "Post-Call Processing",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "vapi-end-of-call",
        "options": {}
      },
      "id": "wh-end-of-call",
      "name": "Webhook end_of_call",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        120
      ],
      "webhookId": "c0edc7c4-f8b1-40e6-b962-b2c5c7654ed0"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\n\n// Extract call data from Vapi end-of-call-report\nconst call = body.message ? body.message.call : body.call;\nconst callObj = call || {};\n\nconst callId = callObj.id || body.call_id || 'unknown-' + Date.now();\nconst transcript = body.message ? (body.message.artifact && body.message.artifact.transcript) : body.transcript;\nconst transcriptText = transcript || '';\n\n// Check if user actually spoke (not just AI greeting)\n// Filter for User turns with meaningful content (> 5 chars after prefix)\nconst userTurns = transcriptText.split('\\n')\n  .filter(line => line.startsWith('User:'))\n  .filter(line => line.replace('User:', '').trim().length > 5);\nconst hasTranscript = userTurns.length >= 1;\n\n// Calculate duration\nlet callDurationSeconds = null;\nlet callStartedAt = null;\nif (callObj.startedAt && callObj.endedAt) {\n  const start = new Date(callObj.startedAt);\n  const end = new Date(callObj.endedAt);\n  callDurationSeconds = Math.round((end - start) / 1000);\n  callStartedAt = callObj.startedAt;\n} else if (callObj.startedAt) {\n  callStartedAt = callObj.startedAt;\n}\n\nconst endedReason = body.message ? body.message.endedReason : (body.endedReason || 'unknown');\nconst phone = callObj.customer ? callObj.customer.number : null;\n\nreturn [{ json: {\n  callId,\n  transcript: transcriptText,\n  hasTranscript,\n  callDurationSeconds,\n  callStartedAt,\n  endedReason,\n  phone\n} }];"
      },
      "id": "code-extract",
      "name": "Extract Call Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        120
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.hasTranscript }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-has-transcript",
      "name": "Has Transcript?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        448,
        120
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $('Extract Call Data').first().json;\nconst transcript = data.transcript || '';\n\nconst prompt = `Analysiere dieses Gespraechstranskript eines Sales-Calls und bewerte den Lead.\nAntworte als JSON mit diesen Feldern:\n- score_company_size (1-3): 1=klein/<10 Mitarbeiter, 2=mittel/10-49 Mitarbeiter, 3=gross/50+ Mitarbeiter\n- score_tech_stack (1-3): 1=keine Automation, 2=erste Erfahrung mit Automation, 3=nutzt Zapier/Make/APIs\n- score_pain_point (1-3): 1=nur Info, 2=allgemeines Interesse, 3=konkreter dringender Use Case\n- score_timeline (1-3): 1=kein Zeitrahmen, 2=1-3 Monate, 3=innerhalb 1 Monat\n- conversation_summary (string, max 200 Woerter, auf Deutsch)\n- sentiment (einer von: positiv, neutral, negativ)\n- objections_raised (array of strings, z.B. [\"Kein Budget\", \"Keine Zeit\"])\n- drop_off_point (string oder null): Die Phase, in der der Anrufer abgesprungen ist OHNE Termin zu buchen. Setze null wenn ein Termin erfolgreich gebucht wurde. Moegliche Werte nur bei Abbruch: \"DISCOVERY\", \"QUALIFICATION\", \"DEMO_OFFER\", \"CLOSING\"\n- is_decision_maker (boolean)\n- status (einer von: new, contacted, qualified, appointment_booked, converted, lost)\n- next_steps (array of strings)\n- caller_name (string oder null): Der vollstaendige Name des MENSCHLICHEN Gespraechspartners (NICHT der KI-Assistentin Lisa!). Suche nach typischen Begruessungen wie \"Hier ist [Name]\", \"[Nachname], hallo\", \"Mein Name ist [Name]\", \"[Name] am Apparat\". Setze null falls kein Name erkennbar.\n- company (string oder null): Der Firmenname des menschlichen Gespraechspartners, falls im Transcript erwaehnt\n- company_size (string oder null): Beschreibung der Unternehmensgroesse, z.B. \"80 Mitarbeiter\", \"kleines Team von 5 Leuten\"\n- current_stack (string oder null): Aktuell verwendete Tools/Systeme, z.B. \"Zapier\", \"alles manuell\"\n- pain_point (string oder null): Das Hauptproblem oder der konkrete Use Case des Gespraechspartners\n- timeline (string oder null): Zeitrahmen fuer die Umsetzung, z.B. \"naechsten Monat\", \"Q2\"\n\nWICHTIG: Die KI-Assistentin heisst Lisa und arbeitet bei n8n. Extrahiere NICHT ihren Namen als caller_name. Der caller_name ist immer die andere Person im Gespraech.\n\nTranscript: ${transcript}`;\n\nconst requestBody = JSON.stringify({\n  model: 'openai/gpt-4o-mini',\n  response_format: { type: 'json_object' },\n  messages: [{ role: 'user', content: prompt }]\n});\n\nreturn [{ json: { requestBody, callId: data.callId, transcript: data.transcript, callDurationSeconds: data.callDurationSeconds, callStartedAt: data.callStartedAt, phone: data.phone } }];"
      },
      "id": "code-build-or",
      "name": "Build OpenRouter Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        48
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "HTTP-Referer",
              "value": "https://n8n.srv1169417.hstgr.cloud"
            },
            {
              "name": "X-Title",
              "value": "Vapi Lead Scoring"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.requestBody }}",
        "options": {}
      },
      "id": "http-openrouter",
      "name": "OpenRouter LLM Scoring",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        896,
        -24
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "1guiLBepx3rJi6mE",
          "name": "Header Auth account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\nreturn [{ json: {\n  callId: data.callId,\n  phone: data.phone,\n  callDurationSeconds: data.callDurationSeconds,\n  callStartedAt: data.callStartedAt,\n  score_company_size: 1,\n  score_tech_stack: 1,\n  score_pain_point: 1,\n  score_timeline: 1,\n  conversation_summary: 'Kein Transkript verfuegbar.',\n  sentiment: 'neutral',\n  objections_raised: [],\n  drop_off_point: null,\n  is_decision_maker: false,\n  status: 'contacted',\n  next_steps: [],\n  transcript: '',\n  caller_name: null,\n  company: null,\n  company_size: null,\n  current_stack: null,\n  pain_point: null,\n  timeline: null\n} }];"
      },
      "id": "code-fallback",
      "name": "Fallback Scores",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1344,
        144
      ]
    },
    {
      "parameters": {
        "jsCode": "const llmResponse = $input.first().json;\nconst extractData = $('Extract Call Data').first().json;\n\nfunction clamp(val, min, max) {\n  const n = parseInt(val);\n  if (isNaN(n)) return min;\n  return Math.min(Math.max(n, min), max);\n}\n\nfunction sanitizeStr(val, maxLen) {\n  if (val === null || val === undefined) return null;\n  const s = String(val).trim();\n  if (s.length === 0) return null;\n  return s.substring(0, maxLen || 500);\n}\n\nlet parsed = {};\ntry {\n  const content = llmResponse.choices && llmResponse.choices[0] && llmResponse.choices[0].message\n    ? llmResponse.choices[0].message.content\n    : JSON.stringify(llmResponse);\n  parsed = JSON.parse(content);\n} catch(e) {\n  parsed = {\n    score_company_size: 1,\n    score_tech_stack: 1,\n    score_pain_point: 1,\n    score_timeline: 1,\n    conversation_summary: 'Analyse nicht verfuegbar.',\n    sentiment: 'neutral',\n    objections_raised: [],\n    drop_off_point: null,\n    is_decision_maker: false,\n    status: 'contacted',\n    next_steps: [],\n    caller_name: null,\n    company: null,\n    company_size: null,\n    current_stack: null,\n    pain_point: null,\n    timeline: null\n  };\n}\n\nconst result = {\n  callId: extractData.callId,\n  phone: extractData.phone,\n  callDurationSeconds: extractData.callDurationSeconds,\n  callStartedAt: extractData.callStartedAt,\n  transcript: extractData.transcript,\n  score_company_size: clamp(parsed.score_company_size, 1, 3),\n  score_tech_stack: clamp(parsed.score_tech_stack, 1, 3),\n  score_pain_point: clamp(parsed.score_pain_point, 1, 3),\n  score_timeline: clamp(parsed.score_timeline, 1, 3),\n  conversation_summary: String(parsed.conversation_summary || '').substring(0, 1000),\n  sentiment: ['positiv', 'neutral', 'negativ'].includes(parsed.sentiment) ? parsed.sentiment : 'neutral',\n  objections_raised: Array.isArray(parsed.objections_raised) ? parsed.objections_raised : [],\n  drop_off_point: parsed.drop_off_point || null,\n  is_decision_maker: Boolean(parsed.is_decision_maker),\n  status: ['new','contacted','qualified','appointment_booked','converted','lost'].includes(parsed.status) ? parsed.status : 'contacted',\n  next_steps: Array.isArray(parsed.next_steps) ? parsed.next_steps : [],\n  caller_name: sanitizeStr(parsed.caller_name, 200),\n  company: sanitizeStr(parsed.company, 200),\n  company_size: sanitizeStr(parsed.company_size, 200),\n  current_stack: sanitizeStr(parsed.current_stack, 500),\n  pain_point: sanitizeStr(parsed.pain_point, 500),\n  timeline: sanitizeStr(parsed.timeline, 200)\n};\n\nreturn [{ json: result }];"
      },
      "id": "code-parse-llm",
      "name": "Parse LLM Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        -96
      ]
    },
    {
      "parameters": {
        "jsCode": "let d;\ntry {\n  d = $('Detect New Categories').first().json;\n} catch(e) {\n  d = $input.first().json;\n}\n\nreturn [{ json: {\n  callId: d.callId,\n  score_company_size: d.score_company_size,\n  score_tech_stack: d.score_tech_stack,\n  score_pain_point: d.score_pain_point,\n  score_timeline: d.score_timeline,\n  conversation_summary: d.conversation_summary || '',\n  sentiment: d.sentiment || 'neutral',\n  objections_raised: Array.isArray(d.objections_raised) ? d.objections_raised : [],\n  drop_off_point: d.drop_off_point || null,\n  is_decision_maker: Boolean(d.is_decision_maker),\n  status: d.status || 'contacted',\n  next_steps: Array.isArray(d.next_steps) ? d.next_steps : [],\n  transcript: d.transcript || '',\n  callDurationSeconds: d.callDurationSeconds || null,\n  callStartedAt: d.callStartedAt || null,\n  phone: d.phone || null,\n  caller_name: d.caller_name || null,\n  company: d.company || null,\n  company_size: d.company_size || null,\n  current_stack: d.current_stack || null,\n  pain_point: d.pain_point || null,\n  timeline: d.timeline || null\n} }];"
      },
      "id": "code-build-sup",
      "name": "Build Supabase Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1568,
        48
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO leads (\n  call_id, score_company_size, score_tech_stack, score_pain_point, score_timeline,\n  transcript, conversation_summary, sentiment,\n  objections_raised, drop_off_point,\n  call_duration_seconds, call_started_at,\n  is_decision_maker, status, next_steps, phone,\n  caller_name, company, company_size, current_stack, pain_point, timeline\n) VALUES (\n  $1, $2, $3, $4, $5,\n  $6, $7, $8,\n  $9::text[], $10,\n  $11, $12::timestamptz,\n  $13, $14, $15::text[], $16,\n  $17, $18, $19, $20, $21, $22\n)\nON CONFLICT (call_id) DO UPDATE SET\n  score_company_size = EXCLUDED.score_company_size,\n  score_tech_stack = EXCLUDED.score_tech_stack,\n  score_pain_point = EXCLUDED.score_pain_point,\n  score_timeline = EXCLUDED.score_timeline,\n  transcript = EXCLUDED.transcript,\n  conversation_summary = EXCLUDED.conversation_summary,\n  sentiment = EXCLUDED.sentiment,\n  objections_raised = EXCLUDED.objections_raised,\n  drop_off_point = CASE\n    WHEN leads.appointment_booked = true THEN null\n    ELSE EXCLUDED.drop_off_point\n  END,\n  call_duration_seconds = EXCLUDED.call_duration_seconds,\n  call_started_at = EXCLUDED.call_started_at,\n  is_decision_maker = EXCLUDED.is_decision_maker,\n  status = CASE\n    WHEN leads.appointment_booked = true AND leads.status = 'appointment_booked'\n    THEN leads.status\n    ELSE EXCLUDED.status\n  END,\n  next_steps = EXCLUDED.next_steps,\n  phone = COALESCE(EXCLUDED.phone, leads.phone),\n  caller_name = COALESCE(leads.caller_name, EXCLUDED.caller_name),\n  company = COALESCE(leads.company, EXCLUDED.company),\n  company_size = COALESCE(leads.company_size, EXCLUDED.company_size),\n  current_stack = COALESCE(leads.current_stack, EXCLUDED.current_stack),\n  pain_point = COALESCE(leads.pain_point, EXCLUDED.pain_point),\n  timeline = COALESCE(leads.timeline, EXCLUDED.timeline)",
        "options": {
          "queryReplacement": "={{ [$json.callId, $json.score_company_size, $json.score_tech_stack, $json.score_pain_point, $json.score_timeline, $json.transcript, $json.conversation_summary, $json.sentiment, $json.objections_raised, $json.drop_off_point, $json.callDurationSeconds, $json.callStartedAt, $json.is_decision_maker, $json.status, $json.next_steps, $json.phone, $json.caller_name, $json.company, $json.company_size, $json.current_stack, $json.pain_point, $json.timeline] }}"
        }
      },
      "id": "pg-upsert-postcall",
      "name": "Supabase Upsert Lead Post-Call",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1792,
        48
      ],
      "credentials": {
        "postgres": {
          "id": "ndhdVpUbeTJZgw1d",
          "name": "Voice Agent Database"
        }
      }
    },
    {
      "id": "http-fetch-cats",
      "name": "Fetch Categories",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        580,
        48
      ],
      "parameters": {
        "method": "GET",
        "url": "https://ltarsnseyhtfbsxjrhdu.supabase.co/rest/v1/objection_categories?select=name,description&is_active=eq.true&order=occurrence_count.desc",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "REDACTED_SUPABASE_SERVICE_KEY"
            },
            {
              "name": "Authorization",
              "value": "Bearer REDACTED_SUPABASE_SERVICE_KEY"
            }
          ]
        },
        "options": {}
      },
      "continueOnFail": true
    },
    {
      "id": "code-detect-new-cats",
      "name": "Detect New Categories",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1460,
        -96
      ],
      "parameters": {
        "jsCode": "const parsed = $input.first().json;\nconst extractData = $('Extract Call Data').first().json;\nlet existingNames = [];\ntry {\n  existingNames = $('Build OpenRouter Request').first().json.existingCategoryNames || [];\n} catch(e) {}\nconst normalize = (s) => s.trim().replace(/\\s+/g, ' ');\nconst objections = Array.isArray(parsed.objections_raised) ? parsed.objections_raised : [];\nconst existingLower = existingNames.map(n => normalize(n).toLowerCase());\nconst newCats = objections.filter(obj => !existingLower.includes(normalize(obj).toLowerCase()));\nconst seen = new Set();\nconst uniqueNew = [];\nfor (const cat of newCats) {\n  const key = normalize(cat).toLowerCase();\n  if (!seen.has(key)) { seen.add(key); uniqueNew.push(normalize(cat)); }\n}\nconst upsertBody = uniqueNew.map(name => ({ name, description: null, counter_argument: null, is_active: true, occurrence_count: 0 }));\nreturn [{ json: { ...parsed, callId: parsed.callId || extractData.callId, phone: parsed.phone || extractData.phone, callDurationSeconds: parsed.callDurationSeconds || extractData.callDurationSeconds, callStartedAt: parsed.callStartedAt || extractData.callStartedAt, transcript: parsed.transcript || extractData.transcript, upsertBody: JSON.stringify(upsertBody), hasNewCategories: uniqueNew.length > 0 } }];"
      }
    },
    {
      "id": "http-upsert-new-cats",
      "name": "Upsert New Categories",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1680,
        -96
      ],
      "parameters": {
        "method": "POST",
        "url": "https://ltarsnseyhtfbsxjrhdu.supabase.co/rest/v1/objection_categories",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "REDACTED_SUPABASE_SERVICE_KEY"
            },
            {
              "name": "Authorization",
              "value": "Bearer REDACTED_SUPABASE_SERVICE_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates,return=minimal"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.upsertBody }}",
        "options": {}
      },
      "continueOnFail": true
    },
    {
      "id": "pg-update-counts",
      "name": "Update Occurrence Counts",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2100,
        48
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE objection_categories SET occurrence_count = occurrence_count + 1 WHERE name = ANY($1::text[])",
        "options": {
          "queryReplacement": "={{ [$('Build Supabase Payload').first().json.objections_raised] }}"
        }
      },
      "credentials": {
        "postgres": {
          "id": "ndhdVpUbeTJZgw1d",
          "name": "Voice Agent Database"
        }
      },
      "continueOnFail": true
    }
  ],
  "connections": {
    "Webhook end_of_call": {
      "main": [
        [
          {
            "node": "Extract Call Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Call Data": {
      "main": [
        [
          {
            "node": "Has Transcript?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Transcript?": {
      "main": [
        [
          {
            "node": "Fetch Categories",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fallback Scores",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build OpenRouter Request": {
      "main": [
        [
          {
            "node": "OpenRouter LLM Scoring",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "error": [
        [
          {
            "node": "Fallback Scores",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter LLM Scoring": {
      "main": [
        [
          {
            "node": "Parse LLM Response",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "error": [
        [
          {
            "node": "Fallback Scores",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse LLM Response": {
      "error": [
        [
          {
            "node": "Fallback Scores",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "main": [
        [
          {
            "node": "Detect New Categories",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fallback Scores": {
      "main": [
        [
          {
            "node": "Build Supabase Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Supabase Payload": {
      "main": [
        [
          {
            "node": "Supabase Upsert Lead Post-Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Categories": {
      "main": [
        [
          {
            "node": "Build OpenRouter Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detect New Categories": {
      "main": [
        [
          {
            "node": "Upsert New Categories",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert New Categories": {
      "main": [
        [
          {
            "node": "Build Supabase Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Upsert Lead Post-Call": {
      "main": [
        [
          {
            "node": "Update Occurrence Counts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  }
}
