n8n-workflows/tool-call-handler.json
{"updatedAt":"2026-02-28T19:36:51.145Z","createdAt":"2026-02-28T18:57:25.969Z","id":"oTCm9mlvroZY2nyI","name":"Vapi Tool-Call Handler","description":null,"active":true,"isArchived":false,"nodes":[{"id":"wh-check-avail","name":"Webhook check_availability","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"parameters":{"httpMethod":"POST","path":"vapi-check-availability","responseMode":"responseNode","options":{}},"webhookId":"cc39136f-bcf9-4377-af88-4117aff34a8f"},{"id":"code-extract-avail","name":"Extract Availability Request","type":"n8n-nodes-base.code","typeVersion":2,"position":[260,0],"parameters":{"jsCode":"const body = $input.first().json.body;\nconst headers = $input.first().json.headers;\nconst secret = headers['x-webhook-secret'];\n\nif (secret !== 'REDACTED_WEBHOOK_SECRET') {\n  throw new Error('Unauthorized: Invalid webhook secret');\n}\n\nconst toolCall = body.message.toolCallList[0];\nconst toolCallId = toolCall.id;\nconst args = toolCall.function.arguments;\nconst dateRange = args.date_range || 'naechste Woche';\n\nconst now = new Date();\nconst startTime = now.toISOString();\nconst endDate = new Date(now);\nendDate.setDate(endDate.getDate() + 7);\nconst endTime = endDate.toISOString();\n\nreturn [{ json: { toolCallId, dateRange, startTime, endTime } }];"}},{"id":"http-calcom-slots","name":"Cal.com Get Slots","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[520,0],"parameters":{"url":"=https://api.cal.com/v2/slots?eventTypeId=4897150&start={{ $json.startTime }}&end={{ $json.endTime }}","options":{},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer REDACTED_CAL_KEY"},{"name":"cal-api-version","value":"2024-09-04"}]},"method":"GET"}},{"id":"code-format-slots","name":"Format Slots German","type":"n8n-nodes-base.code","typeVersion":2,"position":[780,0],"parameters":{"jsCode":"const toolCallId = $('Extract Availability Request').first().json.toolCallId;\nconst slotsData = $input.first().json;\n\nconst dayNames = ['Sonntag','Montag','Dienstag','Mittwoch','Donnerstag','Freitag','Samstag'];\nconst monthNames = ['Januar','Februar','März','April','Mai','Juni','Juli','August','September','Oktober','November','Dezember'];\n\nlet allSlots = [];\n\n// Handle Cal.com v2 response: { data: { \"2026-03-02\": [{start: \"...\"}] } }\nconst slotSource = slotsData.data || slotsData.slots || slotsData;\n\nif (slotSource && typeof slotSource === 'object') {\n  for (const dateKey of Object.keys(slotSource)) {\n    const daySlots = slotSource[dateKey];\n    if (Array.isArray(daySlots)) {\n      for (const slot of daySlots) {\n        const timeStr = slot.start || slot.time || slot;\n        if (typeof timeStr === 'string') allSlots.push(timeStr);\n      }\n    }\n  }\n}\n\nconst maxSlots = allSlots.slice(0, 5);\n\nif (maxSlots.length === 0) {\n  return [{ json: { toolCallId, result: 'Leider sind in der gewünschten Zeitperiode keine Termine verfügbar. Soll ich einen anderen Zeitraum prüfen?' } }];\n}\n\nconst formatted = maxSlots.map(timeStr => {\n  const d = new Date(timeStr);\n  const day = dayNames[d.getDay()];\n  const date = d.getDate();\n  const month = monthNames[d.getMonth()];\n  // Show in Berlin time (UTC+1 in winter)\n  const berlinOffset = 60; // CET = UTC+1\n  const berlinDate = new Date(d.getTime() + berlinOffset * 60000);\n  const hours = berlinDate.getUTCHours().toString().padStart(2,'0');\n  const minutes = berlinDate.getUTCMinutes().toString().padStart(2,'0');\n  return `${day}, ${date}. ${month} um ${hours}:${minutes} Uhr`;\n}).join(', ');\n\nconst result = `Verfügbare Termine: ${formatted}`;\n\nreturn [{ json: { toolCallId, result } }];"}},{"id":"respond-avail","name":"Respond Availability","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1040,0],"parameters":{"respondWith":"json","responseBody":"={\"results\": [{\"toolCallId\": \"{{ $json.toolCallId }}\", \"result\": \"{{ $json.result }}\"}]}"}},{"id":"set-avail-err","name":"Availability Error Fallback","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[780,220],"parameters":{"mode":"raw","jsonOutput":"{\"toolCallId\": \"unknown\", \"result\": \"Es tut mir leid, ich konnte die verfügbaren Termine gerade nicht abrufen. Bitte versuchen Sie es später erneut.\"}"}},{"id":"respond-avail-err","name":"Respond Availability Error","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1040,220],"parameters":{"respondWith":"json","responseBody":"={\"results\": [{\"toolCallId\": \"{{ $json.toolCallId }}\", \"result\": \"{{ $json.result }}\"}]}"}},{"id":"wh-book-appt","name":"Webhook book_appointment","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,500],"parameters":{"httpMethod":"POST","path":"vapi-book-appointment","responseMode":"responseNode","options":{}},"webhookId":"693d8049-be30-4dde-989d-95a1a048cc5b"},{"id":"code-extract-booking","name":"Extract Booking Request","type":"n8n-nodes-base.code","typeVersion":2,"position":[260,500],"parameters":{"jsCode":"const body = $input.first().json.body;\nconst headers = $input.first().json.headers;\nconst secret = headers['x-webhook-secret'];\n\nif (secret !== 'REDACTED_WEBHOOK_SECRET') {\n  throw new Error('Unauthorized: Invalid webhook secret');\n}\n\nconst toolCall = body.message.toolCallList[0];\nconst toolCallId = toolCall.id;\nconst args = toolCall.function.arguments;\nconst callId = body.message.call.id;\n\nfunction sanitize(val, maxLen) {\n  if (!val) return '';\n  return String(val).replace(/[<>\"';]/g, '').replace(/&/g, 'und').substring(0, maxLen || 200);\n}\n\nconst datetime = sanitize(args.datetime, 200);\nconst name = sanitize(args.name, 200);\nconst email = sanitize(args.email, 200);\nconst company = sanitize(args.company, 200);\n\nif (!datetime || !name || !email) {\n  throw new Error('Missing required fields: datetime, name, email');\n}\n\n// Build Cal.com v1 booking payload as a JSON string\nconst calPayload = JSON.stringify({\n  eventTypeId: 4897150,\n  start: datetime,\n  responses: { name, email },\n  metadata: { company },\n  timeZone: 'Europe/Berlin',\n  language: 'de'\n});\n\nreturn [{ json: { toolCallId, callId, datetime, name, email, company, calPayload } }];"}},{"id":"http-calcom-book","name":"Cal.com Book Appointment","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[520,500],"parameters":{"method":"POST","url":"https://api.cal.com/v1/bookings?apiKey=REDACTED_CAL_KEY","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={{ $json.calPayload }}","options":{"response":{"response":{"fullResponse":true,"neverError":true}}}}},{"id":"code-check-booking","name":"Check Booking Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[780,500],"parameters":{"jsCode":"const response = $input.first().json;\nconst bookingData = $('Extract Booking Request').first().json;\n\nconst statusCode = response.statusCode || 200;\n\nif (statusCode === 400 || statusCode === 409) {\n  return [{ json: {\n    toolCallId: bookingData.toolCallId,\n    callId: bookingData.callId,\n    datetime: bookingData.datetime,\n    success: false,\n    calBookingId: null,\n    result: 'Dieser Zeitslot ist leider nicht mehr verfügbar. Soll ich andere Termine prüfen?'\n  }}];\n}\n\nif (statusCode >= 400) {\n  return [{ json: {\n    toolCallId: bookingData.toolCallId,\n    callId: bookingData.callId,\n    datetime: bookingData.datetime,\n    success: false,\n    calBookingId: null,\n    result: 'Die Terminbuchung ist leider fehlgeschlagen. Bitte versuchen Sie es erneut.'\n  }}];\n}\n\nconst booking = response.body || response;\nconst bookingId = (booking && (booking.uid || booking.id)) ? String(booking.uid || booking.id) : 'unknown';\n\nreturn [{ json: {\n  toolCallId: bookingData.toolCallId,\n  callId: bookingData.callId,\n  datetime: bookingData.datetime,\n  success: true,\n  calBookingId: bookingId,\n  result: `Ihr Termin für die n8n Demo wurde erfolgreich gebucht für ${bookingData.datetime}. Sie erhalten eine Bestätigungsmail. Wir freuen uns auf das Gespräch!`\n}}];"}},{"id":"pg-booking","name":"Supabase Update Booking","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1040,500],"parameters":{"operation":"executeQuery","query":"INSERT INTO leads (call_id, caller_name, email, company, appointment_booked, appointment_datetime, cal_booking_id)\nVALUES ($1, $2, $3, $4, $5, $6::timestamptz, $7)\nON CONFLICT (call_id) DO UPDATE SET\n  caller_name = COALESCE(EXCLUDED.caller_name, leads.caller_name),\n  email = COALESCE(EXCLUDED.email, leads.email),\n  company = COALESCE(EXCLUDED.company, leads.company),\n  appointment_booked = EXCLUDED.appointment_booked,\n  appointment_datetime = EXCLUDED.appointment_datetime,\n  cal_booking_id = EXCLUDED.cal_booking_id","options":{"queryReplacement":"={{ [$json.callId, $json.name, $json.email, $json.company, $json.success, $json.datetime, $json.calBookingId] }}"}},"credentials":{"postgres":{"id":"ndhdVpUbeTJZgw1d","name":"Voice Agent Database"}}},{"id":"respond-booking","name":"Respond Booking","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1300,500],"parameters":{"respondWith":"json","responseBody":"={\"results\": [{\"toolCallId\": \"{{ $('Check Booking Response').first().json.toolCallId }}\", \"result\": \"{{ $('Check Booking Response').first().json.result }}\"}]}"}},{"id":"set-booking-err","name":"Booking Error Fallback","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1040,720],"parameters":{"mode":"raw","jsonOutput":"{\"toolCallId\": \"unknown\", \"result\": \"Die Terminbuchung ist leider fehlgeschlagen. Bitte kontaktieren Sie uns direkt oder versuchen Sie es später erneut.\"}"}},{"id":"respond-booking-err","name":"Respond Booking Error","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1300,720],"parameters":{"respondWith":"json","responseBody":"={\"results\": [{\"toolCallId\": \"{{ $json.toolCallId }}\", \"result\": \"{{ $json.result }}\"}]}"}},{"id":"wh-save-lead","name":"Webhook save_lead_info","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,1000],"parameters":{"httpMethod":"POST","path":"vapi-save-lead","responseMode":"responseNode","options":{}},"webhookId":"c3132d6b-eb15-4213-bd41-9eca5a9e888b"},{"id":"code-validate-lead","name":"Validate Lead Input","type":"n8n-nodes-base.code","typeVersion":2,"position":[260,1000],"parameters":{"jsCode":"const body = $input.first().json.body;\nconst headers = $input.first().json.headers;\nconst secret = headers['x-webhook-secret'];\n\nif (secret !== 'REDACTED_WEBHOOK_SECRET') {\n  throw new Error('Unauthorized: Invalid webhook secret');\n}\n\nconst toolCall = body.message.toolCallList[0];\nconst toolCallId = toolCall.id;\nconst args = toolCall.function.arguments;\nconst callId = body.message.call.id;\n\nfunction sanitize(val, maxLen) {\n  if (val === null || val === undefined) return null;\n  const str = String(val);\n  const cleaned = str\n    .replace(/[<>\"']/g, '')\n    .replace(/;\\s*(drop|delete|insert|update|select|union)/gi, '')\n    .replace(/<script[^>]*>.*?<\\/script>/gi, '')\n    .substring(0, maxLen || 500);\n  return cleaned.trim() || null;\n}\n\nconst callIdClean = sanitize(callId, 255);\nif (!callIdClean) throw new Error('Missing required field: call_id');\n\nconst caller_name = sanitize(args.caller_name, 500);\nconst company = sanitize(args.company, 500);\nconst company_size = sanitize(args.company_size, 500);\nconst current_stack = sanitize(args.current_stack, 500);\nconst pain_point = sanitize(args.pain_point, 500);\nconst timeline = sanitize(args.timeline, 500);\nconst email = sanitize(args.email, 500);\nconst phone = sanitize(args.phone, 50);\n\nreturn [{ json: {\n  toolCallId,\n  call_id: callIdClean,\n  caller_name,\n  company,\n  company_size,\n  current_stack,\n  pain_point,\n  timeline,\n  email,\n  phone\n} }];"}},{"id":"pg-upsert-lead","name":"Supabase Upsert Lead","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[520,1000],"parameters":{"operation":"executeQuery","query":"INSERT INTO leads (call_id, caller_name, company, company_size, current_stack, pain_point, timeline, email, phone)\nVALUES ($1, $2, $3, $4, $5, $6, $7, $8, $9)\nON CONFLICT (call_id) DO UPDATE SET\n  caller_name = COALESCE(EXCLUDED.caller_name, leads.caller_name),\n  company = COALESCE(EXCLUDED.company, leads.company),\n  company_size = COALESCE(EXCLUDED.company_size, leads.company_size),\n  current_stack = COALESCE(EXCLUDED.current_stack, leads.current_stack),\n  pain_point = COALESCE(EXCLUDED.pain_point, leads.pain_point),\n  timeline = COALESCE(EXCLUDED.timeline, leads.timeline),\n  email = COALESCE(EXCLUDED.email, leads.email),\n  phone = COALESCE(EXCLUDED.phone, leads.phone)","options":{"queryReplacement":"={{ [$json.call_id, $json.caller_name, $json.company, $json.company_size, $json.current_stack, $json.pain_point, $json.timeline, $json.email, $json.phone] }}"}},"credentials":{"postgres":{"id":"ndhdVpUbeTJZgw1d","name":"Voice Agent Database"}}},{"id":"respond-lead","name":"Respond Lead Saved","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[780,1000],"parameters":{"respondWith":"json","responseBody":"={\"results\": [{\"toolCallId\": \"{{ $('Validate Lead Input').first().json.toolCallId }}\", \"result\": \"Kontaktdaten gespeichert.\"}]}"}},{"id":"set-lead-err","name":"Lead Error Fallback","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[520,1220],"parameters":{"mode":"raw","jsonOutput":"{\"toolCallId\": \"unknown\", \"result\": \"Daten konnten leider nicht gespeichert werden. Das Gespräch wird trotzdem fortgesetzt.\"}"}},{"id":"respond-lead-err","name":"Respond Lead Error","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[780,1220],"parameters":{"respondWith":"json","responseBody":"={\"results\": [{\"toolCallId\": \"{{ $json.toolCallId }}\", \"result\": \"{{ $json.result }}\"}]}"}}],"connections":{"Webhook check_availability":{"main":[[{"node":"Extract Availability Request","type":"main","index":0}]]},"Extract Availability Request":{"main":[[{"node":"Cal.com Get Slots","type":"main","index":0}]],"error":[[{"node":"Availability Error Fallback","type":"main","index":0}]]},"Cal.com Get Slots":{"main":[[{"node":"Format Slots German","type":"main","index":0}]],"error":[[{"node":"Availability Error Fallback","type":"main","index":0}]]},"Format Slots German":{"main":[[{"node":"Respond Availability","type":"main","index":0}]],"error":[[{"node":"Availability Error Fallback","type":"main","index":0}]]},"Availability Error Fallback":{"main":[[{"node":"Respond Availability Error","type":"main","index":0}]]},"Webhook book_appointment":{"main":[[{"node":"Extract Booking Request","type":"main","index":0}]]},"Extract Booking Request":{"main":[[{"node":"Cal.com Book Appointment","type":"main","index":0}]],"error":[[{"node":"Booking Error Fallback","type":"main","index":0}]]},"Cal.com Book Appointment":{"main":[[{"node":"Check Booking Response","type":"main","index":0}]],"error":[[{"node":"Booking Error Fallback","type":"main","index":0}]]},"Check Booking Response":{"main":[[{"node":"Supabase Update Booking","type":"main","index":0}]],"error":[[{"node":"Booking Error Fallback","type":"main","index":0}]]},"Supabase Update Booking":{"main":[[{"node":"Respond Booking","type":"main","index":0}]],"error":[[{"node":"Booking Error Fallback","type":"main","index":0}]]},"Booking Error Fallback":{"main":[[{"node":"Respond Booking Error","type":"main","index":0}]]},"Webhook save_lead_info":{"main":[[{"node":"Validate Lead Input","type":"main","index":0}]]},"Validate Lead Input":{"main":[[{"node":"Supabase Upsert Lead","type":"main","index":0}]],"error":[[{"node":"Lead Error Fallback","type":"main","index":0}]]},"Supabase Upsert Lead":{"main":[[{"node":"Respond Lead Saved","type":"main","index":0}]],"error":[[{"node":"Lead Error Fallback","type":"main","index":0}]]},"Lead Error Fallback":{"main":[[{"node":"Respond Lead Error","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"1184f617-c5cd-4df8-9c96-ce0e9ffc78d7","activeVersionId":"1184f617-c5cd-4df8-9c96-ce0e9ffc78d7","versionCounter":30,"triggerCount":3,"shared":[{"updatedAt":"2026-02-28T18:57:25.970Z","createdAt":"2026-02-28T18:57:25.970Z","role":"workflow:owner","workflowId":"oTCm9mlvroZY2nyI","projectId":"Hb8MCr6jApuP43D1","project":{"updatedAt":"2025-12-01T16:24:24.630Z","createdAt":"2025-12-01T16:17:56.703Z","id":"Hb8MCr6jApuP43D1","name":"Fynn Loosen <fynn.loosen@outlook.de>","type":"personal","icon":null,"description":null,"creatorId":"495728b9-b3cb-456c-9843-b80be60568f8"}}],"tags":[],"activeVersion":{"updatedAt":"2026-02-28T19:36:51.146Z","createdAt":"2026-02-28T19:36:51.146Z","versionId":"1184f617-c5cd-4df8-9c96-ce0e9ffc78d7","workflowId":"oTCm9mlvroZY2nyI","nodes":[{"id":"wh-check-avail","name":"Webhook check_availability","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"parameters":{"httpMethod":"POST","path":"vapi-check-availability","responseMode":"responseNode","options":{}},"webhookId":"cc39136f-bcf9-4377-af88-4117aff34a8f"},{"id":"code-extract-avail","name":"Extract Availability Request","type":"n8n-nodes-base.code","typeVersion":2,"position":[260,0],"parameters":{"jsCode":"const body = $input.first().json.body;\nconst headers = $input.first().json.headers;\nconst secret = headers['x-webhook-secret'];\n\nif (secret !== 'REDACTED_WEBHOOK_SECRET') {\n  throw new Error('Unauthorized: Invalid webhook secret');\n}\n\nconst toolCall = body.message.toolCallList[0];\nconst toolCallId = toolCall.id;\nconst args = toolCall.function.arguments;\nconst dateRange = args.date_range || 'naechste Woche';\n\nconst now = new Date();\nconst startTime = now.toISOString();\nconst endDate = new Date(now);\nendDate.setDate(endDate.getDate() + 7);\nconst endTime = endDate.toISOString();\n\nreturn [{ json: { toolCallId, dateRange, startTime, endTime } }];"}},{"id":"http-calcom-slots","name":"Cal.com Get Slots","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[520,0],"parameters":{"url":"=https://api.cal.com/v2/slots?eventTypeId=4897150&start={{ $json.startTime }}&end={{ $json.endTime }}","options":{},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer REDACTED_CAL_KEY"},{"name":"cal-api-version","value":"2024-09-04"}]},"method":"GET"}},{"id":"code-format-slots","name":"Format Slots German","type":"n8n-nodes-base.code","typeVersion":2,"position":[780,0],"parameters":{"jsCode":"const toolCallId = $('Extract Availability Request').first().json.toolCallId;\nconst slotsData = $input.first().json;\n\nconst dayNames = ['Sonntag','Montag','Dienstag','Mittwoch','Donnerstag','Freitag','Samstag'];\nconst monthNames = ['Januar','Februar','März','April','Mai','Juni','Juli','August','September','Oktober','November','Dezember'];\n\nlet allSlots = [];\n\n// Handle Cal.com v2 response: { data: { \"2026-03-02\": [{start: \"...\"}] } }\nconst slotSource = slotsData.data || slotsData.slots || slotsData;\n\nif (slotSource && typeof slotSource === 'object') {\n  for (const dateKey of Object.keys(slotSource)) {\n    const daySlots = slotSource[dateKey];\n    if (Array.isArray(daySlots)) {\n      for (const slot of daySlots) {\n        const timeStr = slot.start || slot.time || slot;\n        if (typeof timeStr === 'string') allSlots.push(timeStr);\n      }\n    }\n  }\n}\n\nconst maxSlots = allSlots.slice(0, 5);\n\nif (maxSlots.length === 0) {\n  return [{ json: { toolCallId, result: 'Leider sind in der gewünschten Zeitperiode keine Termine verfügbar. Soll ich einen anderen Zeitraum prüfen?' } }];\n}\n\nconst formatted = maxSlots.map(timeStr => {\n  const d = new Date(timeStr);\n  const day = dayNames[d.getDay()];\n  const date = d.getDate();\n  const month = monthNames[d.getMonth()];\n  // Show in Berlin time (UTC+1 in winter)\n  const berlinOffset = 60; // CET = UTC+1\n  const berlinDate = new Date(d.getTime() + berlinOffset * 60000);\n  const hours = berlinDate.getUTCHours().toString().padStart(2,'0');\n  const minutes = berlinDate.getUTCMinutes().toString().padStart(2,'0');\n  return `${day}, ${date}. ${month} um ${hours}:${minutes} Uhr`;\n}).join(', ');\n\nconst result = `Verfügbare Termine: ${formatted}`;\n\nreturn [{ json: { toolCallId, result } }];"}},{"id":"respond-avail","name":"Respond Availability","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1040,0],"parameters":{"respondWith":"json","responseBody":"={\"results\": [{\"toolCallId\": \"{{ $json.toolCallId }}\", \"result\": \"{{ $json.result }}\"}]}"}},{"id":"set-avail-err","name":"Availability Error Fallback","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[780,220],"parameters":{"mode":"raw","jsonOutput":"{\"toolCallId\": \"unknown\", \"result\": \"Es tut mir leid, ich konnte die verfügbaren Termine gerade nicht abrufen. Bitte versuchen Sie es später erneut.\"}"}},{"id":"respond-avail-err","name":"Respond Availability Error","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1040,220],"parameters":{"respondWith":"json","responseBody":"={\"results\": [{\"toolCallId\": \"{{ $json.toolCallId }}\", \"result\": \"{{ $json.result }}\"}]}"}},{"id":"wh-book-appt","name":"Webhook book_appointment","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,500],"parameters":{"httpMethod":"POST","path":"vapi-book-appointment","responseMode":"responseNode","options":{}},"webhookId":"693d8049-be30-4dde-989d-95a1a048cc5b"},{"id":"code-extract-booking","name":"Extract Booking Request","type":"n8n-nodes-base.code","typeVersion":2,"position":[260,500],"parameters":{"jsCode":"const body = $input.first().json.body;\nconst headers = $input.first().json.headers;\nconst secret = headers['x-webhook-secret'];\n\nif (secret !== 'REDACTED_WEBHOOK_SECRET') {\n  throw new Error('Unauthorized: Invalid webhook secret');\n}\n\nconst toolCall = body.message.toolCallList[0];\nconst toolCallId = toolCall.id;\nconst args = toolCall.function.arguments;\nconst callId = body.message.call.id;\n\nfunction sanitize(val, maxLen) {\n  if (!val) return '';\n  return String(val).replace(/[<>\"';]/g, '').replace(/&/g, 'und').substring(0, maxLen || 200);\n}\n\nconst datetime = sanitize(args.datetime, 200);\nconst name = sanitize(args.name, 200);\nconst email = sanitize(args.email, 200);\nconst company = sanitize(args.company, 200);\n\nif (!datetime || !name || !email) {\n  throw new Error('Missing required fields: datetime, name, email');\n}\n\n// Build Cal.com v1 booking payload as a JSON string\nconst calPayload = JSON.stringify({\n  eventTypeId: 4897150,\n  start: datetime,\n  responses: { name, email },\n  metadata: { company },\n  timeZone: 'Europe/Berlin',\n  language: 'de'\n});\n\nreturn [{ json: { toolCallId, callId, datetime, name, email, company, calPayload } }];"}},{"id":"http-calcom-book","name":"Cal.com Book Appointment","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[520,500],"parameters":{"method":"POST","url":"https://api.cal.com/v1/bookings?apiKey=REDACTED_CAL_KEY","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={{ $json.calPayload }}","options":{"response":{"response":{"fullResponse":true,"neverError":true}}}}},{"id":"code-check-booking","name":"Check Booking Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[780,500],"parameters":{"jsCode":"const response = $input.first().json;\nconst bookingData = $('Extract Booking Request').first().json;\n\nconst statusCode = response.statusCode || 200;\n\nif (statusCode === 400 || statusCode === 409) {\n  return [{ json: {\n    toolCallId: bookingData.toolCallId,\n    callId: bookingData.callId,\n    datetime: bookingData.datetime,\n    success: false,\n    calBookingId: null,\n    result: 'Dieser Zeitslot ist leider nicht mehr verfügbar. Soll ich andere Termine prüfen?'\n  }}];\n}\n\nif (statusCode >= 400) {\n  return [{ json: {\n    toolCallId: bookingData.toolCallId,\n    callId: bookingData.callId,\n    datetime: bookingData.datetime,\n    success: false,\n    calBookingId: null,\n    result: 'Die Terminbuchung ist leider fehlgeschlagen. Bitte versuchen Sie es erneut.'\n  }}];\n}\n\nconst booking = response.body || response;\nconst bookingId = (booking && (booking.uid || booking.id)) ? String(booking.uid || booking.id) : 'unknown';\n\nreturn [{ json: {\n  toolCallId: bookingData.toolCallId,\n  callId: bookingData.callId,\n  datetime: bookingData.datetime,\n  success: true,\n  calBookingId: bookingId,\n  result: `Ihr Termin für die n8n Demo wurde erfolgreich gebucht für ${bookingData.datetime}. Sie erhalten eine Bestätigungsmail. Wir freuen uns auf das Gespräch!`\n}}];"}},{"id":"pg-booking","name":"Supabase Update Booking","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1040,500],"parameters":{"operation":"executeQuery","query":"INSERT INTO leads (call_id, caller_name, email, company, appointment_booked, appointment_datetime, cal_booking_id)\nVALUES ($1, $2, $3, $4, $5, $6::timestamptz, $7)\nON CONFLICT (call_id) DO UPDATE SET\n  caller_name = COALESCE(EXCLUDED.caller_name, leads.caller_name),\n  email = COALESCE(EXCLUDED.email, leads.email),\n  company = COALESCE(EXCLUDED.company, leads.company),\n  appointment_booked = EXCLUDED.appointment_booked,\n  appointment_datetime = EXCLUDED.appointment_datetime,\n  cal_booking_id = EXCLUDED.cal_booking_id","options":{"queryReplacement":"={{ [$json.callId, $json.name, $json.email, $json.company, $json.success, $json.datetime, $json.calBookingId] }}"}},"credentials":{"postgres":{"id":"ndhdVpUbeTJZgw1d","name":"Voice Agent Database"}}},{"id":"respond-booking","name":"Respond Booking","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1300,500],"parameters":{"respondWith":"json","responseBody":"={\"results\": [{\"toolCallId\": \"{{ $('Check Booking Response').first().json.toolCallId }}\", \"result\": \"{{ $('Check Booking Response').first().json.result }}\"}]}"}},{"id":"set-booking-err","name":"Booking Error Fallback","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1040,720],"parameters":{"mode":"raw","jsonOutput":"{\"toolCallId\": \"unknown\", \"result\": \"Die Terminbuchung ist leider fehlgeschlagen. Bitte kontaktieren Sie uns direkt oder versuchen Sie es später erneut.\"}"}},{"id":"respond-booking-err","name":"Respond Booking Error","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1300,720],"parameters":{"respondWith":"json","responseBody":"={\"results\": [{\"toolCallId\": \"{{ $json.toolCallId }}\", \"result\": \"{{ $json.result }}\"}]}"}},{"id":"wh-save-lead","name":"Webhook save_lead_info","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,1000],"parameters":{"httpMethod":"POST","path":"vapi-save-lead","responseMode":"responseNode","options":{}},"webhookId":"c3132d6b-eb15-4213-bd41-9eca5a9e888b"},{"id":"code-validate-lead","name":"Validate Lead Input","type":"n8n-nodes-base.code","typeVersion":2,"position":[260,1000],"parameters":{"jsCode":"const body = $input.first().json.body;\nconst headers = $input.first().json.headers;\nconst secret = headers['x-webhook-secret'];\n\nif (secret !== 'REDACTED_WEBHOOK_SECRET') {\n  throw new Error('Unauthorized: Invalid webhook secret');\n}\n\nconst toolCall = body.message.toolCallList[0];\nconst toolCallId = toolCall.id;\nconst args = toolCall.function.arguments;\nconst callId = body.message.call.id;\n\nfunction sanitize(val, maxLen) {\n  if (val === null || val === undefined) return null;\n  const str = String(val);\n  const cleaned = str\n    .replace(/[<>\"']/g, '')\n    .replace(/;\\s*(drop|delete|insert|update|select|union)/gi, '')\n    .replace(/<script[^>]*>.*?<\\/script>/gi, '')\n    .substring(0, maxLen || 500);\n  return cleaned.trim() || null;\n}\n\nconst callIdClean = sanitize(callId, 255);\nif (!callIdClean) throw new Error('Missing required field: call_id');\n\nconst caller_name = sanitize(args.caller_name, 500);\nconst company = sanitize(args.company, 500);\nconst company_size = sanitize(args.company_size, 500);\nconst current_stack = sanitize(args.current_stack, 500);\nconst pain_point = sanitize(args.pain_point, 500);\nconst timeline = sanitize(args.timeline, 500);\nconst email = sanitize(args.email, 500);\nconst phone = sanitize(args.phone, 50);\n\nreturn [{ json: {\n  toolCallId,\n  call_id: callIdClean,\n  caller_name,\n  company,\n  company_size,\n  current_stack,\n  pain_point,\n  timeline,\n  email,\n  phone\n} }];"}},{"id":"pg-upsert-lead","name":"Supabase Upsert Lead","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[520,1000],"parameters":{"operation":"executeQuery","query":"INSERT INTO leads (call_id, caller_name, company, company_size, current_stack, pain_point, timeline, email, phone)\nVALUES ($1, $2, $3, $4, $5, $6, $7, $8, $9)\nON CONFLICT (call_id) DO UPDATE SET\n  caller_name = COALESCE(EXCLUDED.caller_name, leads.caller_name),\n  company = COALESCE(EXCLUDED.company, leads.company),\n  company_size = COALESCE(EXCLUDED.company_size, leads.company_size),\n  current_stack = COALESCE(EXCLUDED.current_stack, leads.current_stack),\n  pain_point = COALESCE(EXCLUDED.pain_point, leads.pain_point),\n  timeline = COALESCE(EXCLUDED.timeline, leads.timeline),\n  email = COALESCE(EXCLUDED.email, leads.email),\n  phone = COALESCE(EXCLUDED.phone, leads.phone)","options":{"queryReplacement":"={{ [$json.call_id, $json.caller_name, $json.company, $json.company_size, $json.current_stack, $json.pain_point, $json.timeline, $json.email, $json.phone] }}"}},"credentials":{"postgres":{"id":"ndhdVpUbeTJZgw1d","name":"Voice Agent Database"}}},{"id":"respond-lead","name":"Respond Lead Saved","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[780,1000],"parameters":{"respondWith":"json","responseBody":"={\"results\": [{\"toolCallId\": \"{{ $('Validate Lead Input').first().json.toolCallId }}\", \"result\": \"Kontaktdaten gespeichert.\"}]}"}},{"id":"set-lead-err","name":"Lead Error Fallback","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[520,1220],"parameters":{"mode":"raw","jsonOutput":"{\"toolCallId\": \"unknown\", \"result\": \"Daten konnten leider nicht gespeichert werden. Das Gespräch wird trotzdem fortgesetzt.\"}"}},{"id":"respond-lead-err","name":"Respond Lead Error","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[780,1220],"parameters":{"respondWith":"json","responseBody":"={\"results\": [{\"toolCallId\": \"{{ $json.toolCallId }}\", \"result\": \"{{ $json.result }}\"}]}"}}],"connections":{"Webhook check_availability":{"main":[[{"node":"Extract Availability Request","type":"main","index":0}]]},"Extract Availability Request":{"main":[[{"node":"Cal.com Get Slots","type":"main","index":0}]],"error":[[{"node":"Availability Error Fallback","type":"main","index":0}]]},"Cal.com Get Slots":{"main":[[{"node":"Format Slots German","type":"main","index":0}]],"error":[[{"node":"Availability Error Fallback","type":"main","index":0}]]},"Format Slots German":{"main":[[{"node":"Respond Availability","type":"main","index":0}]],"error":[[{"node":"Availability Error Fallback","type":"main","index":0}]]},"Availability Error Fallback":{"main":[[{"node":"Respond Availability Error","type":"main","index":0}]]},"Webhook book_appointment":{"main":[[{"node":"Extract Booking Request","type":"main","index":0}]]},"Extract Booking Request":{"main":[[{"node":"Cal.com Book Appointment","type":"main","index":0}]],"error":[[{"node":"Booking Error Fallback","type":"main","index":0}]]},"Cal.com Book Appointment":{"main":[[{"node":"Check Booking Response","type":"main","index":0}]],"error":[[{"node":"Booking Error Fallback","type":"main","index":0}]]},"Check Booking Response":{"main":[[{"node":"Supabase Update Booking","type":"main","index":0}]],"error":[[{"node":"Booking Error Fallback","type":"main","index":0}]]},"Supabase Update Booking":{"main":[[{"node":"Respond Booking","type":"main","index":0}]],"error":[[{"node":"Booking Error Fallback","type":"main","index":0}]]},"Booking Error Fallback":{"main":[[{"node":"Respond Booking Error","type":"main","index":0}]]},"Webhook save_lead_info":{"main":[[{"node":"Validate Lead Input","type":"main","index":0}]]},"Validate Lead Input":{"main":[[{"node":"Supabase Upsert Lead","type":"main","index":0}]],"error":[[{"node":"Lead Error Fallback","type":"main","index":0}]]},"Supabase Upsert Lead":{"main":[[{"node":"Respond Lead Saved","type":"main","index":0}]],"error":[[{"node":"Lead Error Fallback","type":"main","index":0}]]},"Lead Error Fallback":{"main":[[{"node":"Respond Lead Error","type":"main","index":0}]]}},"authors":"Fynn Loosen","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-02-28T19:36:51.204Z","id":410,"workflowId":"oTCm9mlvroZY2nyI","versionId":"1184f617-c5cd-4df8-9c96-ce0e9ffc78d7","event":"activated","userId":"495728b9-b3cb-456c-9843-b80be60568f8"},{"createdAt":"2026-02-28T19:36:51.183Z","id":409,"workflowId":"oTCm9mlvroZY2nyI","versionId":"1184f617-c5cd-4df8-9c96-ce0e9ffc78d7","event":"deactivated","userId":"495728b9-b3cb-456c-9843-b80be60568f8"}]}}